:host {
  display: flex;
  flex-direction: column;
  min-width: 300px;  
  
  text-align: center;
}

@media (orientation: portrait) {
  :host { 
    width: 90%;
  }
}

@media (orientation: landscape) {
  :host { 
    flex: 1 1;
  }
}

/* style maps */
.map-frame {
  display: flex;

  aspect-ratio: 1/1.5;
  border: 2px solid black;
}
.map {
  flex: 1;
}
