/* center textbox, label */
:host {
	display: flex;
  justify-content: center;
  text-align: center;
  
  max-width: 65em;
  margin: auto auto;
}

label {
  flex: 1 1;
}

textarea {
  min-width: 45em;
  max-width: 65em;

  max-height: 5em;
}